node-red/node-red flow
[{"id":"a4cf72de.60bc8","type":"zeromq in","z":"f1310c69.a75bd8","name":"Server 1","topic":"fps","fields":"topic,payload","server":"tcp://127.0.0.1:6666","output":"string","isserver":false,"intype":"sub","x":120,"y":560,"wires":[["bd4cbc52.5483d8","a1d62ea4.941d1"]]},{"id":"a11e8880.27d568","type":"function","z":"f1310c69.a75bd8","name":"Fields","func":"//Fields\nvar temps = msg.payload.time; \nvar valeur = msg.payload.value;\nmsg.payload = {\n    time: temps,\n    value: valeur\n}\nmsg.topic = \"fps1\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["1aa2a4a3.090723","6fb2aa2a.d72cf4"]]},{"id":"1aa2a4a3.090723","type":"debug","z":"f1310c69.a75bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":560,"wires":[]},{"id":"14957195.eb981e","type":"debug","z":"f1310c69.a75bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":600,"wires":[]},{"id":"c40f2af0.39b2e","type":"function","z":"f1310c69.a75bd8","name":"BATCH","func":"//BATCH\nmsg.payload = [\n    {\n        measurement: \"valeurs\",\n        fields: {\n            value: msg.payload.fps1.value\n        },\n        timestamp: msg.payload.fps1.time\n    },\n    {\n        measurement: \"autre\",\n        fields: {\n            value: msg.payload.fps2.value\n        },\n        timestamp: msg.payload.fps1.time\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["14957195.eb981e","f0d9d74f.43b77"]]},{"id":"a1d62ea4.941d1","type":"debug","z":"f1310c69.a75bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":600,"wires":[]},{"id":"f0d9d74f.43b77","type":"influxdb batch","z":"f1310c69.a75bd8","influxdb":"1d6765c0.0f6f22","precision":"","retentionPolicy":"","name":"BATCH aTimeSeries","x":1060,"y":560,"wires":[]},{"id":"bd4cbc52.5483d8","type":"function","z":"f1310c69.a75bd8","name":"JSON","func":"//JSON\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["a11e8880.27d568"]]},{"id":"8419cd42.d897c","type":"zeromq in","z":"f1310c69.a75bd8","name":"Server 2","topic":"fps","fields":"topic,payload","server":"tcp://127.0.0.1:6667","output":"string","isserver":false,"intype":"sub","x":120,"y":680,"wires":[["a04b6e90.755aa","5cc4f253.fd822c"]]},{"id":"a04b6e90.755aa","type":"function","z":"f1310c69.a75bd8","name":"JSON","func":"//JSON\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["cc70621a.d6bdb"]]},{"id":"cc70621a.d6bdb","type":"function","z":"f1310c69.a75bd8","name":"Fields","func":"//Fields\nvar temps = msg.payload.time; \nvar valeur = msg.payload.value;\nmsg.payload = {\n    time: temps,\n    value: valeur\n}\nmsg.topic = \"fps2\";\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":680,"wires":[["3d96e511.7ce062","6fb2aa2a.d72cf4"]]},{"id":"3d96e511.7ce062","type":"debug","z":"f1310c69.a75bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":680,"wires":[]},{"id":"5cc4f253.fd822c","type":"debug","z":"f1310c69.a75bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":640,"wires":[]},{"id":"6fb2aa2a.d72cf4","type":"join","z":"f1310c69.a75bd8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":620,"wires":[["fe44a4d3.795e48","c40f2af0.39b2e"]]},{"id":"fe44a4d3.795e48","type":"debug","z":"f1310c69.a75bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":640,"wires":[]},{"id":"1d6765c0.0f6f22","type":"influxdb","z":"f1310c69.a75bd8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"}]
